POSTGRES_DB=<database-name>
POSTGRES_USER=<database-user>
POSTGRES_PASSWORD=<database-password>
POSTGRES_PORT=<host-port>

ConnectionStrings__DefaultConnection=Host=<host>;Port=<port>;Database=<database-name>;Username=<database-user>;Password=<database-password>
